name: Static Analysis

on:
  push:
    paths:
      - '.github/workflows/static-analysis.yml'
      - 'composer.*'
      - 'psalm.skeleton.xml'
      - 'src/**'
      - 'tests/**'
  pull_request:
    paths:
      - '.github/workflows/static-analysis.yml'
      - 'composer.*'
      - 'psalm.skeleton.xml'
      - 'src/**'
      - 'tests/**'

jobs:
  psalm:
    name: Psalm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.5
          coverage: none
          tools: none

      - name: Install composer dependencies
        uses: ramsey/composer-install@v2

      - name: Run Psalm
        run: ./vendor/bin/psalm --config=psalm.skeleton.xml --no-progress --shepherd --show-info=false --stats --no-cache --output-format=github
