name: Tests

on:
  push:
    paths:
      - '.github/workflows/tests.yml'
      - 'phpunit.xml'
      - 'src/**'
      - 'tests/**'
  pull_request:
    paths:
      - '.github/workflows/tests.yml'
      - 'phpunit.xml'
      - 'src/**'
      - 'tests/**'

jobs:
  phpunit:
    name: PHPUnit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          coverage: none
          tools: none

      - name: Setup problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install composer dependencies
        uses: ramsey/composer-install@v2

      - name: Run PHPUnit
        run: ./vendor/bin/phpunit
